/* Rotation */
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* Arrows. Used together with directions for voting buttons */
.arrow {
  border: solid rgba(0,0,0,0.75);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 7.5px;
  transition-duration: 0.4s;
}
.arrow:hover {
  border: solid rgba(255,255,255,0.75);
  border-width: 0 5px 5px 0;
}

/* Button styling */
.button {
  /* Standard button is white */
  background-color: #f1f1f1;
  border: 1px solid #f2f2f2;
  color: #000;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-sizing: border-box;
}
.button-sub {
  /* Standard button is white */
  background-color: #f1f1f1;
  border: 1px solid #f2f2f2;
  color: #000;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-sizing: border-box;
}
.gray {
  background-color: #c1c1c1;
  border: 1px solid #919191;
  color: #000;
}
.red {
  background-color: #ce2e29;
  border: 1px solid #700000;
  color: #fff;
}
.orange {
  background-color: #e87b1b;
  border: 1px solid #7a3e00;
  color: #fff;
}
.yellow {
  background-color: #ead21c;
  border: 1px solid #70661e;
  color: #fff;
}
.green {
  background-color: #17a519;
  border: 1px solid #088400;
  color: #fff;
}
.brown {
  background-color: #8c662e;
  border: 1px solid #5b421d;
  color: #fff;
}
.hollow {
  background-color: transparent;
  color: #000;
}

.button:hover,
.button-sub:hover {
  background-color: #fff;
  color: #000;
}
.gray.hollow:hover {
  background-color: #c1c1c1;
  color: #fff;
}
.red.hollow:hover {
  background-color: #ce2e29;
  color: #fff;
}
.orange.hollow:hover {
  background-color: #e87b1b;
  color: #fff;
}
.yellow.hollow:hover {
  background-color: #ead21c;
  color: #fff;
}
.green.hollow:hover {
  background-color: #17a519;
  color: #fff;
}
.brown.hollow:hover {
  background-color: #8c662e;
  color: #fff;
}

/* Checkbox styled as switch: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  display:none;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* Day-night slider */
.day-night-switch {
  margin-top: 20px;
}
.day-night-switch .slider {
  /* Light mode */
  background-color: #ffe5b5;
  font-size: 18px;
}
.day-night-switch .switch input:checked + .slider {
  /* Dark mode */
  background-color: #749ED7;
}

.inline {
  display: inline;
}

/* Input type search */
input[type="search"] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("/img/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"]:not(.button):not(.link),
textarea,
select {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 12px 12px 12px;
}

/* Scrollbar (Webkit only) */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(153,153,153,0.4);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.8);
}
/* Select the top half (or left half) or scrollbar track individually */
::-webkit-scrollbar-track-piece:start {
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(255,241,142,0.75);
    padding: 5px;
    border-left: 2px solid #ccc;
}

/* Misc. */
.fleft { float: left; }
.fright { float: right; }
.aleft { text-align: left; }
.aright { text-align: right; }
.inlineb { display: inline-block; }
.not-active { cursor: not-allowed; }

/* Style anything as a link */
.link {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: inherit;
  display: inline;
}
.link:focus {
  outline: none;
}
